.about-container{
    padding: 1rem 5rem;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: block;

}
.about-name{
    color:#1E90FF ;
    font-size: 1.3rem;
}
.about-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutUs{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    height: 100%;
    width: 50%;
}
.about-title{
    color: #FF8C00;
    font-size: 2.8rem;
    font-weight: 700;
}
.about-description{
    font-size: 18.5px;
    color: black;
    font-weight: 600;
    line-height: 27px;
}
.about-container-image{
    height: 100%;
}
.about-container-image img{
    width: 25rem;
}

@media screen and (max-width:1000px){
    .about-container{
        margin-block: 2rem;
        padding: 0 5rem;   
    }
    .about-content{
      
        flex-direction: column;
        gap: 1.2rem;
        align-items: start;
    }
    .about-container-image{
        width: 100%;
        height: 15rem;
    }
    .about-title{
        font-size:2rem;
      
    }
    .aboutUs{
        width: 100%;
    }
}
@media screen and (max-width:800px){
    .about-container{
        margin-top: 2rem;
        padding: 0 1.2rem;   
    }
}
